{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">

                <ol class="breadcrumb">
                    <li><a href="{{ path('world_configure', {'world': world.id}) }}">Configure {{ world.name }}</a></li>
                    <li><a href="{{ path('resource_update', {'id': resource.id}) }}">Update {{ resource.name }}</a></li>
                    <li><a href="{{ path('resource_action_update', {'id': resourceAction.id}) }}">Update {{ resourceAction.verb }} Action</a></li>
                    <li><a href="{{ path('resource_action_input_index', {'id': resourceAction.id}) }}">{{ resourceAction.verb }} {{ resourceAction.resource.name }}</a></li>
                    <li class="active">Create Input</li>
                </ol>

                <h1>Create Input for {{ resourceAction.verb }} {{ resourceAction.resource.name }}</h1>
                {% include 'CronkdBundle:ResourceActionInput/partials:form.html.twig' with {'action': 'Create'} %}

            </div>
        </div>
    </div>
{% endblock %}