{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Dashboard</a></li>
                <li><a href="{{ path('probe_send', {'id': kingdom.id}) }}">Spy Attempt</a></li>
                <li class="active">Spy Results</li>
            </ol>

            <h3>Hack Results</h3>
            {% if results.error is defined and results.error is not null %}
                <div class="alert alert-danger">
                    {{ results.error }}
                </div>
            {% else %}
                <div class="alert alert-{{ results.data.report.result ? 'success' : 'danger' }}">
                    <h3 style="margin-top: 0px;">{{ results.data.report.result ? 'Success!' : 'Failure!' }}</h3>
                    {% if results.data.report.result %}
                        <p>Spies uncovered the following information:</p>
                        {% include 'CronkdBundle:Probe:resultsTable.html.twig' %}
                    {% else %}
                        <p>Spies were not able to retrieve any information.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-sm-12">
            <div class="pull-left btn-group" role="group" aria-label="...">
            {% if results.error is not defined %}
                {% if results.data.report.result is defined %}
                    {% if rehackForm is not null %}
                        {{ form_start(rehackForm) }}
                        {{ form_row(rehackForm.target) }}
                        {% for resource in kingdomState.resources %}
                            {% if attribute(rehackForm, resource.resource.name) is defined %}
                                {{ form_row(attribute(rehackForm, resource.resource.name)) }}
                            {% endif %}
                        {% endfor %}
                        {{ form_row(rehackForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_end(rehackForm) }}
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}