<table class="table table-bordered" style="margin-top: 15px;">
    <tbody>
    <tr>
        <td>
            <i class="fa fa-fort-awesome fa-fw"></i> {{ results.data.report.data.Kingdom }}</td>
    </tr>
    <tr>
        <td>
            <i class="fa fa-flag fa-fw"></i> Policy: <strong>{{ results.data.report.data.Policy is not defined ? 'None' : results.data.report.data.Policy }}</strong>
        </td>
    </tr>
    {% for kingdomResource in results.data.report.data.Resources %}
        <tr>
            <td>
                {{ resourceIcon(kingdomResource.resource.name)|raw }}
                {{ kingdomResource.resource.name }}: <strong>{{ kingdomResource.quantity|number_format }}</strong>
            </td>
        </tr>
    {% endfor %}
    </tbody>
        </td>
    </tr>
</table>
