{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Name</td>
                <td>Tick</td>
                <td>Active</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ world.name }}</td>
                <td>{{ world.tick }}</td>
                <td>{{ world.active }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row-fluid">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <h3>{{ world.name }} Kingdoms</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Kingdom Name</th>
                    <th>Owner</th>
                    <th>Net Worth</th>
                </tr>
                </thead>
                <tbody>
                {% for kingdom in world.kingdoms %}
                    <tr>
                        <td><a href="{{ path("kingdom_show", {'id': kingdom.id}) }}">{{ kingdom.name }}</a></td>
                        <td>{{ kingdom.user.username }}</td>
                        <td>{{ kingdom.netWorth }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}