{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">

        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>{% if world.active %}<a href="{{ path('homepage') }}">Dashboard</a>{% else %}<a href="{{ path('world_index') }}">Worlds</a>{% endif %}</li>
                <li class="active">{{ world.name }}</li>
            </ol>
        </div>

        {% if not world.isUpcoming() %}
            <div class="col-md-9">
                <div class="row-fluid clearfix" style="font-size: 24px;">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td title="World"><i class="fa fa-globe"></i> <strong>{{ world.name }}</strong></td>
                                    <td title="Tick"><i class="fa fa-clock-o"></i> {{ world.tick }}</td>
                                    <td title="Kingdoms"><i class="fa fa-fort-awesome"></i> {{ world.kingdoms|length }}</td>
                                    {% if worldNetworth is defined %}
                                        <td title="Net Worth"><i class="fa fa-line-chart"></i> {{ worldNetworth|number_format }}</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row-fluid clearfix">
                    <div class="col-md-12">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><div class="text-center"><h4>Adjust Graph Scope:</h4></div></td>
                                <td><div class="text-center"><button class="btn btn-default updateChart" data-ticks="10">Past 10 Ticks</button></div></td>
                                <td><div class="text-center"><button id="defaultChartScope" class="btn btn-default updateChart" data-ticks="25">Past 25 Ticks</button></div></td>
                                <td><div class="text-center"><button class="btn btn-default updateChart" data-ticks="100">Past 100 Ticks</button></div></td>
                                <td><div class="text-center"><button class="btn btn-default updateChart" data-ticks="all">All Time</button></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <canvas id="netWorthChart" width="400" height="300"></canvas>
                    <br />
                </div>
            </div>

            <!-- World -->
            <div class="col-md-3">
                <div class="row-fluid clearfix">
                    <div class="col-md-12">
                        {% include 'CronkdBundle:World:partials/kingdomScores.html.twig' %}
                    </div>
                </div>
            </div>
        {% else %}
            {% if kingdom is null %}
            <div class="col-sm-12">
                <p class="text-center">
                    Sign up early for this kingdom!
                    <br /><br />
                    <a href="{{ path('kingdom_create', {'id': world.id}) }}" class="btn btn-lg btn-primary">Create Kingdom</a>
                </p>
            </div>
            {% else %}
            <div class="col-sm-12">
                <div class="alert alert-info">
                    Thanks for signing up, {{ kingdom.name }}!  {{ world.name }} will begin at {{ world.startTime|date('Y-m-d h:i A') }}.
                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        var ctx = document.getElementById("netWorthChart");
        var chartData = [];
        var chart = null;

        $(document).ready(function() {
            $('.updateChart').click(function() {
                var ticks = 25;
                if ($(this).data('ticks')) {
                    ticks = $(this).data('ticks');
                }

                fetchChartData(ticks);
            });

            $('#defaultChartScope').trigger('click');
        });


        function fetchChartData(ticks) {
            $.ajax({
                url: '{{ path('data_world_net_worth', {'world': world.id}) }}',
                method: 'POST',
                data: {ticks: ticks},
                success: function (response) {
                    chartData = [];
                    if (!response.error) {
                        chartData = response;
                        renderChart();
                    }
                }
            });
        }

        function renderChart() {
            if (chartData == []) {
                $(ctx).hide();
                return null;
            }

            var displayLabels = 100 > chartData.labels.length;
            var options = {
                scales: {
                    xAxes: [{
                        display: displayLabels,
                    }]
                }
            };

            if (chart != null) {
                chart.config.data = chartData;
                chart.options.scales.xAxes[0].display = 100 > chartData.labels.length;
                chart.update();
            } else {
                chart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: options
                });
            }
        }
    </script>
{% endblock %}