<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CronKD{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block css %}
        <link rel="stylesheet" href="{{ asset('bundles/cronkd/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cronkd/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cronkd/css/jquery.datatables.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cronkd/css/datatables.bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>

{% block nav %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cronkd-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">CronKD</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="cronkd-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('kingdoms') }}">Kingdoms</a></li>
                    <li><a href="{{ path('users') }}">Users</a></li>
                    <li><a href="{{ path('worlds') }}">Worlds</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="navbar-text hidden-sm hidden-xs">{{ app.user.username }}</li>
                        <li><a href="{{ path('fos_user_security_logout') }}" class="navbar-link">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}" class="navbar-link">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}" class="navbar-link">Register</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

<div class="container-fluid">
    <div class="row-fluid">
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ type }}">{{ flashMessage }}</div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% block content %}{% endblock %}

{% block js %}
    <script src="{{ asset('bundles/cronkd/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/cronkd/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/cronkd/js/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/cronkd/js/datatables.bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>