{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-2">

            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#introduction" data-toggle="tab">Introduction</a></li>
                <li role="presentation"><a href="#resources" data-toggle="tab">Resources</a></li>
                <li role="presentation"><a href="#spying-and-hacking" data-toggle="tab">Spying and Hacking</a></li>
            </ul>
        </div>
        <div class="col-md-10">

            <div class="tab-content clearfix">

                <div class="tab-pane active" id="introduction">
                    <h1>Welcome to CronKD!</h1>
                    <h2>Introduction</h2>
                    <p>CronKD is a free multi-player online game involving resource management and strategic interactions with other kingdoms to become the strongest in the world.</p>

                    {% include 'CronkdBundle:Help:partials/introduction.html.twig' %}

                    <h2>Overview</h2>
                    {% include 'CronkdBundle:Help:partials/overview.html.twig' %}

                    <h2>Getting Started</h2>
                    <ol>
                        <li><a href="{{ path('fos_user_registration_register') }}" class="navbar-link">Create a free user account</a> by registering with your email address and password.</li>
                        <li>Choose a name for your kingdom.</li>
                        <li>Choose actions to allocate your resources.  For example, build 8 housing and produce 8 materials.</li>
                    </ol>

                    <h2>Goals</h2>
                    <ul>
                        <li>Compete for the highest <i class="fa fa-line-chart"></i> <strong>Net Worth</strong> in the world.</li>
                        <li>Compete for the highest Win-Loss Ratio in the world.</li>
                        <li>Improve your strategy and beat your past performance.</li>
                    </ul>

                    <h2>A Turn</h2>
                    <p>Sign on each hour, or at least every 8 hours, to make an attack and put your resources back to work for you.</p>
                    <ol>
                        <li>When you have military to spare, use your spies to find out how much military a kingdom currently has at home and attack them with at least one extra point of military to win the battle.  Send an extra 50% if you think they may have Defender Policy enabled.</li>
                        <li>Use your resources wisely, building housing, producing materials, training military and spies.</li>
                    </ol>
                </div>

                <div class="tab-pane" id="resources">
                    <h2>Resources</h2>
                    <p>
                        There are {{ settings.resource_types|length }} types of resources: {{ settings.resource_types|join(", ") }}.
                        Each hour, on the hour, the world will take one step forward in <strong>time</strong> and <strong>resources</strong> will move one step in their <strong>queues</strong>.
                        Resources will be dispersed evenly over time.  For example, if 8 resources are constructed, 1 will be awarded back to your kingdom per tick.
                    </p>
                    <p>&nbsp;</p>
                    <h4>Initial Amounts</h4>
                    <p>Kingdoms start out with initial resources amounts which can be immediately used as soon as the world starts:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tbody>
                                {% for resourceName, resource in settings.resources %}
                                    {% if resource.initial > 0 %}
                                    <tr>
                                        <td style="background-color: #f5f5f5;">{{ resourceIcon(resourceName)|raw }} {{ resourceName }}</td>
                                        <td>{{ resource.initial }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h4>How to build every resource</h4>
                    <p>Not all resources can be created immediately.  Rather, some resources require other resources in order to be built:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tbody>
                                {% for resourceName, resource in settings.resources %}
                                    {% if resource.action.verb is defined %}
                                        <tr>
                                            <td style="background-color: #f5f5f5;">{{ resource.action.verb }} {{ resource.action.output.quantity }} {{ resourceIcon(resourceName)|raw }} {{ resourceName }}</td>
                                            <td>
                                                <ul>
                                                {% for inputResource, input in resource.action.inputs %}
                                                    <li>{{ input.quantity }} {{ inputResource }} {{ input.requeue ? ' (comes back after '~input.queue_size~' ticks)' : ' (lost forever)' }}</li>
                                                {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h4>Overview</h4>
                    <p>Lastly, a table that describes all of the characteristics and properties for all resources:</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Net Worth Value</th>
                            <th>Initial Amount</th>
                            <th>Attack Power</th>
                            <th>Defense Power</th>
                            <th>Spy Power</th>
                            <th>Can be won by attacking?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for resourceName, resource in settings.resources %}
                            <tr>
                                <td style="background-color: #f5f5f5;">{{ resourceIcon(resourceName)|raw }} {{ resourceName }}</td>
                                <td>{{ resource.type }}</td>
                                <td>{{ resource.value }}</td>
                                <td>{{ resource.initial }}</td>
                                <td>{{ resource.attack }}</td>
                                <td>{{ resource.defense }}</td>
                                <td>{{ resource.probe_power }}</td>
                                <td>{{ resource.spoil_of_war ? 'Yes' : 'No' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="spying-and-hacking">
                     <h2>Spying</h2>
                        <ul>
                            <li><strong>Hack</strong> other kingdoms for information about their Military and other resources.</li>
                            <li>The more Hackers you assign to hack another kingdom, the more likely it is your hack attempt will succeed.</li>
                            <li>Hackers you send on a hacking attempt are queued for return over 8 hours (like other resources).</li>
                        </ul>

                        <h2>Attacking other Kingdoms</h2>
                        <ul>
                            <li><strong>Attack</strong> kingdoms successfully to steal their resources and accelerate your growth.</li>
                            <li>Build a strong <strong>Military</strong> so that you may defeat other kingdoms' defending army on the battlefield.  If you send more Military in your attack, you will be the victor.</li>
                            <li>If you win an attack, you will be awarded with 20% of your opponent's available Civilians, 50% of their available Material, and 1% of their Housing.</li>
                            <li>You may only attack once per Tick, so make it count!</li>
                            <li>View other kingdoms' <i class="fa fa-tint"></i> <strong>Liquidity</strong> and <i class="fa fa-line-chart"></i> <strong>Net Worth</strong> to determine kingdom strength and vulnerability.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}