{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">

            <ol class="breadcrumb">
                <li><a href="{{ path('world_configure', {'world': world.id}) }}">Configure {{ world.name }}</a></li>
                <li class="active">Update {{ policy.name }} Policy</li>
            </ol>

            <h1>Update {{ policy.name }} Policy</h1>
            {% include 'CronkdBundle:KingdomPolicy/partials:form.html.twig' with {'action': 'Update'} %}

            <div class="pull-right">
                <a href="{{ path('policy_resource_create', {'id': policy.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Add</a>
            </div>
            <h2>Resources</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Resource</th>
                    <th>Attributes</th>
                </tr>
                </thead>
                <tbody>
                {% for policyResource in policy.resources %}
                    <tr>
                        <td>
                            {{ policyResource.resource.name }}
                            <div class="pull-right">
                                <a href="{{ path('policy_resource_update', {'id': policyResource.id}) }}"><i class="fa fa-cogs btn btn-info"></i></a>
                                <a href="{{ path('policy_resource_delete', {'id': policyResource.id}) }}"><i class="fa fa-remove btn btn-danger"></i></a>
                            </div>
                        </td>
                        <td>
                            {% include '@Cronkd/KingdomPolicy/partials/_overview.html.twig' with {'policy': policyResource} %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}