{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-sm-12">
            <h3>Attack Results</h3>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Dashboard</a></li>
                <li><a href="{{ path('attack', {'id': kingdom.id}) }}">Attack Attempt</a></li>
                <li class="active">Attack Results</li>
            </ol>
            {% if results.error is defined and results.error is not null %}
            <div class="alert alert-danger">
                {{ results.error }}
            </div>
            {% else %}
            <div class="alert alert-{{ results.data.report.result ? 'success' : 'danger' }}">
                <h3 style="margin-top: 0px;">{{ results.data.report.result ? 'Success!' : 'Failure!' }}</h3>
                {% if results.data.report.result %}
                    <p>We received the following resources:</p>
                    <ul>
                        {% for resourceMessage in results.data.report.modified_resources %}
                            <li>{{ resourceMessage }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>The attack has failed!</p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}