{% if action is not defined %}
    {% set action = 'Submit' %}
{% endif %}

<div class="row-fluid">
    <div class="col-sm-12">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.startTime, {'attr': {'class': 'form-control datetimepicker'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.endTime, {'attr': {'class': 'form-control datetimepicker'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.baseResource, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.birthRate, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.policyDuration, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'label': action, 'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>