<style media="screen" type="text/css">
    .myKingdom {
        font-weight: bold;
    }
</style>

<table class="table">
    <thead>
    <tr>
        <th title="Rank"><i class="fa fa-hashtag"></i></th>
        <th title="Kingdom"><i class="fa fa-fort-awesome"></i></th>
        <th title="Liquidity"><i class="fa fa-tint"></i></th>
        <th title="Networth"><i class="fa fa-line-chart"></i></th>
    </tr>
    </thead>
    <tbody>
    {% for kingdomByNetworth in worldState.kingdomsByNetworth %}
        <tr class="{{ kingdom is not null and kingdomByNetworth.id == kingdom.id ? 'myKingdom' }} {{ kingdomByNetworth.liquidity != kingdomByNetworth.netWorth ? 'success' : 'danger' }}">
            <td>{{ loop.index }}</td>
            <td>{{ kingdomByNetworth.name }}</td>
            <td>{{ kingdomByNetworth.liquidity|filterNumber }}</td>
            <td>{{ kingdomByNetworth.netWorth|filterNumber }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
