<style media="screen" type="text/css">
    .myKingdom {
        font-weight: bold;
    }
</style>

<table class="table">
    <thead>
    <tr>
        <th title="Rank"><i class="fa fa-hashtag"></i></th>
        <th title="Kingdom"><i class="fa fa-fort-awesome"></i></th>
        <th title="Win">Wins</th>
        <th title="Loss">Losses</th>
    </tr>
    </thead>
    <tbody>
    {% for kingdomByWinLoss in worldState.kingdomsByWinLossRecord %}
        <tr class="{{ kingdom is not null and kingdomByWinLoss.kingdom.id == kingdom.id ? 'myKingdom' }} {{ kingdomByWinLoss.winloss.win > kingdomByWinLoss.winloss.loss ? 'success' }} {{ kingdomByWinLoss.winloss.win == kingdomByWinLoss.winloss.loss ? 'warning' }} {{ kingdomByWinLoss.winloss.win < kingdomByWinLoss.winloss.loss ? 'danger' }}">
            <td>{{ loop.index }}</td>
            <td>{{ kingdomByWinLoss.kingdom.name }}</td>
            <td>{{ kingdomByWinLoss.winloss.win|number_format }}</td>
            <td>{{ kingdomByWinLoss.winloss.loss|number_format }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>