<table class="table table-striped table-bordered">
    <tbody>
    <tr>
        <td><strong>Name:</strong></td>
        <td>{{ world.name }}</td>
    </tr>
    <tr>
        <td><strong>Start Time:</strong></td>
        <td>{{ world.startTime|date('Y-m-d h:i A') }}</td>
    </tr>
    <tr>
        <td><strong>End Time:</strong></td>
        <td>{{ world.endTime|date('Y-m-d h:i A') }}</td>
    </tr>
    <tr>
        <td><strong>Tick Interval (in minutes):</strong></td>
        <td>{{ world.tickInterval }}</td>
    </tr>
    <tr>
        <td><strong>Birth Rate</strong></td>
        <td>{{ world.birthRate }}%</td>
    </tr>
    <tr>
        <td><strong>Policy Duration (in ticks)</strong></td>
        <td>{{ world.policyDuration }}</td>
    </tr>
    <tr>
        <td><strong>Last Tick</strong></td>
        <td>{{ null == world.lastTickTime ? 'N/A' : world.lastTickTime|date('Y-m-d h:i A') }}</td>
    </tr>
    <tr>
        <td><strong>Active:</strong></td>
        <td>{{ world.active ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
        <td><strong>Tick:</strong></td>
        <td>{{ world.tick }}</td>
    </tr>
    </tbody>
</table>