<div class="panel panel-default">
    <table class="table">
        <tbody>
        <tr>
            <td title="World"><i class="fa fa-globe"></i> <strong>{{ world.name }}</strong></td>
            <td title="Net Worth">
                <a href="{{ path('world_show', {'id': world.id}) }}">
                    <i class="fa fa-line-chart"></i>
                </a>
                {{ worldState.aggregateNetWorth|filterNumber }}
            </td>
            <td>
                <a href="{{ path('chat') }}">
                    <i class="fa fa-comments"></i>
                    <div class="badge">{{ render(controller('CronkdBundle:Chat:getUnreadMessageCount')) }}</div>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>