<table id="worldPolicyTable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Condition</th>
        <th>Resources</th>
        <th>Comparison Resources</th>
    </tr>
    </thead>
    <tbody>
    {% for policy in world.worldPolicies %}
        <tr>
            <td>
                {% if not world.isInactive %}
                    <div class="pull-right">
                        <a href="{{ path('policy_update', {'id': policy.id}) }}"><i class="fa fa-cogs"></i></a>
                    </div>
                {% endif %}
                <strong>{{ policy.name }}</strong>
            </td>
            <td>
                {{ policy.condition|capitalize }}
            </td>
            <td>
                {% for resource in policy.resources %}
                    {{ resource.name }}<br />
                {% endfor %}
            </td>
            <td>
                {% for resource in policy.comparisonResources %}
                    {{ resource.name }}<br />
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
