{% extends '::base.html.twig' %}

{% set displayExponentialTable = false %}
{% for input in inputsOverview.overview %}
    {% if input.strategy == 'exponential' %}
        {% set displayExponentialTable = true %}
    {% endif %}
{% endfor %}

{% block content %}
    <div class="row-fluid">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('home') }}">Dashboard</a></li>
                <li class="active">{{ action.verb|capitalize }} {{ resource|capitalize }}</li>
            </ol>

            <h3>{{ action.verb|capitalize }} {{ resource|capitalize }}</h3>
            <hr />
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-sm-{{ displayExponentialTable ? '9' : '12' }}">
            <div class="row-fluid">
                <div class="alert alert-info">
                    <p><strong>{{ resource|capitalize }}: </strong><em>{{ resourceDescription }}</em></p>
                    <hr />
                    <p>{{ action.description }}</p>
                    <p>&nbsp;</p>
                    <p>You currently have <strong>{{ kingdomResource.quantity }}</strong> available  {{ resource }}.</p>
                    <p>&nbsp;</p>
                    Cost for {{ action.outputQuantity }} additional {{ resource|capitalize }}:
                    <ul>
                        {% for input in action.inputs %}
                            {% set requiredQuantity = input.inputQuantity %}
                            {% if input.inputStrategy == 'additive' %}
                                {% set requiredQuantity = 'Amount equal to current ' ~ resource|capitalize ~ ' amount' %}
                            {% elseif input.inputStrategy == 'exponential' %}
                                {% set requiredQuantity = inputsOverview.overview[input.resource.name].cost %}
                            {% elseif input.inputStrategy == 'requirement' %}
                                {% set requiredQuantity = 'At least one available ' %}
                            {% endif %}
                            {% if input.requeue %}
                                {% if input.queueSize > 0 %}
                                    {% set comesBackTime = '- Comes back after ' ~ input.queueSize ~ ' ticks' %}
                                {% else %}
                                    {% set comesBackTime = '' %}
                                {% endif %}
                            {% else %}
                                {% set comesBackTime = ' - Lost forever' %}
                            {% endif %}
                            <li><strong>{{ requiredQuantity }} {{ input.resource.name|capitalize }}</strong> {{ comesBackTime }}</li>
                        {% endfor %}
                    </ul>
                    <p><br /></p>
                    <p>
                        <strong>Max {{ resource|capitalize }} to {{ action.verb }}: {{ inputsOverview.maxQuantityToProduce }}</strong>
                    </p>
                    <p>
                        <button id="autoFillBtn" data-max="{{ inputsOverview.maxQuantityToProduce }}" class="btn btn-info">Auto-Fill Max</button>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                <div class="form-group">
                    {{ form_row(form.quantity, {'attr': {'class': 'form-control', 'max': inputsOverview.maxQuantityToProduce}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        {% if displayExponentialTable %}
        <div class="col-sm-3">
            {% include '@Cronkd/Action/partials/exponentialTable.html.twig' %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#autoFillBtn').click(function() {
                console.log($(this).data('max'));
                $('#cronkdbundle_action_quantity').val($(this).data('max'));
            })
        })
    </script>
{% endblock %}