{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-sm-12">
            <h3>{{ verb|capitalize }} {{ resource|capitalize }}</h3>
            <div class="alert alert-info">
                <p>{{ resourceDescription }}</p>
                <p>{{ actionDescription }}</p>
                <p><strong>Max {{ resource|capitalize }} to {{ verb }}: {{ maxQuantity }}</strong></p>
            </div>
            <hr />
            {{ form_start(form, {'attr': {'class': 'form form-horizontal'}}) }}
            {{ form_row(form.quantity, {'attr': {'class': 'form-control', 'max': maxQuantity}}) }}
            {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            <br /><br />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}