{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Dashboard</a></li>
                <li class="active">Event Log</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-search"></i> Logs</h3>
                </div>
                <div class="panel-body">
                    <p class="text-center">
                        <a href="#" class="btn btn-primary btn-lg logFilterBtn" data-filter="">All</a>
                        <a href="#" class="btn btn-primary btn-lg logFilterBtn" data-filter="important">Notification</a>
                        <a href="#" class="btn btn-primary btn-lg logFilterBtn" data-filter="action">Action</a>
                        <a href="#" class="btn btn-primary btn-lg logFilterBtn" data-filter="attack">Attack</a>
                        <a href="#" class="btn btn-primary btn-lg logFilterBtn" data-filter="hack">Hack</a>
                        <a href="#" class="btn btn-primary btn-lg logFilterBtn" data-filter="tick">Tick</a>
                    </p>
                    <table class="datatable table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Tick</th>
                            <th>Type</th>
                            <th>Message</th>
                            <th>Notification</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                        <tr class="{{ log.readAt is null ? 'info' }} {{ log.important ? 'danger' }}">
                            <td>{{ log.createdAt|date('Y-m-d h:i:s A') }}</td>
                            <td>{{ log.tick }}</td>
                            <td>{{ log.type }}</td>
                            <td>{{ log.log }}</td>
                            <td>{{ log.important ? 'important' : null }}</td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        var table = $('.datatable').DataTable({
            'order': [ 1, 'DESC' ],
            'columnDefs': [
                {
                    'targets': [ 4 ],
                    'visible': false
                }
            ]
        });

        $('.logFilterBtn').click(function () {
            var filter = $(this).data('filter');
            var column = 2;
            if ('important' == filter) {
                column = 4;
            }
            console.log(column);
            console.log(filter);
            table
                //.columns(column)
                .search(filter)
                .draw()
            ;
        });
    </script>
{% endblock %}