{% extends '::base.html.twig' %}

{% block content %}
    {% if not userHasKingdom %}
        <div class="row-fluid text-center">
            <div class="text-center">
                <a href="{{ path('kingdom_create') }}" class="btn btn-primary btn-lg">Create My Kingdom</a>
            </div>
        </div>
    {% else %}
        <div class="row-fluid">

            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#queues" data-toggle="tab">Queues</a></li>
                    <li role="presentation"><a href="#world" data-toggle="tab">World</a></li>
                    <li class="nav-divider"></li>
                    <li>
                        {% if worldState.policies|length > 0 %}
                            {% if kingdomState.activePolicy is null %}
                                <a href="{{ path('policy_select', {id: kingdom.id}) }}" class="btn btn-info">Select Policy</a>
                            {% else %}
                                <div><strong>{{ kingdomState.activePolicyName }}</strong></div>
                                <div class="text-muted"><em>time remaining: {{ kingdomState.activePolicyEndDiff }}</em></div>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li><a href="{{ path('kingdom') }}" class="btn btn-primary">Kingdom</a></li>
                    {% if kingdomState.hasAvailableProbingResources %}
                        <li>
                            <a href="{{ path('probe_send', {id: kingdom.id}) }}" class="btn btn-warning">Spy</a>
                        </li>
                    {% endif %}
                    {% if kingdomState.availableAttack %}
                        <li>
                            <a href="{{ path('attack') }}" class="btn btn-danger">Attack</a>
                        </li>
                    {% endif %}
                    <li><a href="{{ path('event_index', {id: kingdom.id}) }}" class="btn btn-default">Logs</a></li>
                    <li><a href="{{ path('notification_index', {id: kingdom.id}) }}" class="btn btn-default">Notifications{% if kingdomState.notificationCount > 0 %} <span class="badge">{{ kingdomState.notificationCount }}</span>{% endif %}</a></li>
                    <li><a href="{{ path('chat') }}" class="btn btn-info">Chat</a></li>
                </ul>
            </div>

            <div class="col-md-10">
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="home">
                        {% include 'CronkdBundle:Default:partials/home.html.twig' %}
                    </div>

                    <div class="tab-pane" id="queues">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                {% include 'CronkdBundle:Default:partials/kingdom/queues.html.twig' %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="world">
                        {% include 'CronkdBundle:Default:partials/world.html.twig' %}
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block js %}
    {{ parent() }}
    {% if kingdom is not null %}
    <script type="text/javascript">
        var comp = document.getElementById("kingdomCompositionChart");
        $.ajax({
            url: '{{ path('data_kingdom_composition', {'kingdom': kingdom.id}) }}',
            method: 'POST',
            success: function(response) {
                if (!response.error) {
                    var myChart = new Chart(comp, {
                        type: 'radar',
                        data: response,
                        options: {
                            legend: {
                                display: false
                            },
                            scale: {
                                reverse: false,
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                } else {
                    $(comp).hide();
                }
            }
        });

        var pop = document.getElementById("populationChart");
        $.ajax({
            url: '{{ path('data_population_capacity', {'kingdom': kingdom.id}) }}',
            method: 'POST',
            success: function(response) {
                if (!response.error) {
                    var myChart = new Chart(pop, {
                        type: 'bar',
                        data: {
                            labels: ["Population Capacity: " + response.population + "%",],
                            datasets: [
                                {
                                    label: "{{ kingdom.name }}",
                                    backgroundColor: [
                                        100 <= response.population ? 'rgba(255, 99, 132, 0.2)' : 'rgba(54, 162, 235, 0.2)'
                                    ],
                                    borderColor: [
                                        100 <= response.population ? 'rgba(255,99,132,1)' : 'rgba(54, 162, 235, 1)'
                                    ],
                                    borderWidth: 1,
                                    data: [response.population],
                                }
                            ]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        suggestedMin: 0,
                                        suggestedMax: 100,
                                    }
                                }]
                            }
                        }
                    });
                } else {
                    $(pop).hide();
                }
            }
        });
    </script>
    {% endif %}
{% endblock %}