{% extends '::base.html.twig' %}

{% block content %}

    {% if not userHasKingdom %}

        <div class="row-fluid text-center">
            <div class="text-center">
                <a href="{{ path('kingdom_create') }}" class="btn btn-primary btn-lg">Create My Kingdom</a>
            </div>
        </div>

    {% else %}

        <div class="row-fluid">
            <div class="col-md-2">
                <div class="panel panel-default">
                    {% include 'CronkdBundle:Kingdom:infoBar.html.twig' %}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-shield"></i> Actions</h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <div class="btn-group-vertical" role="group">
                            <a href="{{ path('action_produce_materials', {id: kingdom.id}) }}" class="btn btn-info">Produce Materials</a>
                            <a href="{{ path('action_build_housing', {id: kingdom.id}) }}" class="btn btn-info">Build Housing</a>
                            <a href="{{ path('action_train_military', {id: kingdom.id}) }}" class="btn btn-info">Train Military</a>
                            <a href="{{ path('action_train_hacker', {id: kingdom.id}) }}" class="btn btn-info">Train Hackers</a>
                        </div>
                        <hr>
                        <div class="btn-group-vertical" role="group">
                            <a href="{{ path('probe_send', {id: kingdom.id}) }}" class="btn btn-warning">Hack</a>
                            <a href="{{ path('attack', {id: kingdom.id}) }}" class="btn btn-danger">Attack</a>
                        </div>
                        <hr />
                        <div class="btn-group-vertical" role="group">
                            <a href="{{ path('log_index', {id: kingdom.id}) }}" class="btn btn-default">Event Log</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default" style="display: table;">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Resources</h3>
                    </div>
                    {% include 'CronkdBundle:Kingdom:queues.html.twig' %}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-right">
                            <a href="{{ path('log_index', {id: kingdom.id}) }}" class="btn btn-default btn-xs">
                                All Logs <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                        <h3 class="panel-title"><i class="fa fa-search"></i> Recent Logs</h3>
                    </div>
                    {% include 'CronkdBundle:Kingdom:logs.html.twig' %}
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel panel-default">
                    {% include 'CronkdBundle:World:infoBar.html.twig' %}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-trophy"></i> Scores</h3>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th><i class="fa fa-hashtag"></i></th>
                            <th><i class="fa fa-flag"></i></th>
                            <th><i class="fa fa-line-chart"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for kingdomByNetworth in kingdomsByNetworth %}
                            <tr>
                                {% if kingdomByNetworth.id == kingdom.id %}
                                    <td><strong>{{ loop.index }}</strong></td>
                                    <td><strong>{{ kingdomByNetworth.name }}</strong></td>
                                    <td><strong>{{ kingdomByNetworth.netWorth }}</strong></td>
                                {% else %}
                                    <td>{{ loop.index }}</td>
                                    <td>{{ kingdomByNetworth.name }}</td>
                                    <td>{{ kingdomByNetworth.netWorth }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}