{% extends '::base.html.twig' %}

{% block content %}

    <div class="row-fluid">
        <h1>Welcome, {{ user.username }}!</h1>
    </div>

    {% if not userHasKingdom %}
        <div class="row-fluid">
            <div class="text-center">
                <a href="{{ path('kingdom_create') }}" class="btn btn-primary btn-lg">Create My Kingdom</a>
            </div>
            <hr />
        </div>
    {% endif %}

    <div class="row-fluid">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <h3>{{ world.name }} Kingdoms</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Kingdom Name</th>
                    <th>Owner</th>
                    <th>Net Worth</th>
                </tr>
                </thead>
                <tbody>
                {% for kingdom in kingdoms %}
                    <tr>
                        <td><a href="{{ path("kingdom_show", {'id': kingdom.id}) }}">{{ kingdom.name }}</a></td>
                        <td>{{ kingdom.user.username }}</td>
                        <td>{{ kingdom.netWorth }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}