<h2>{{ world.name }} Resources</h2>
<p>
    There are {{ resourceTypes|length }} types of resources: {{ resourceTypes|join(", ") }}.
    Each hour, on the hour, the world will take one step forward in <strong>time</strong> and <strong>resources</strong> will move one step in their <strong>queues</strong>.
    Resources will be dispersed evenly over time.  For example, if 8 resources are constructed, 1 will be awarded back to your kingdom per tick.
</p>
<p>&nbsp;</p>
<h4>Initial Amounts</h4>
<p>Kingdoms start out with initial resources amounts which can be immediately used as soon as the world starts:</p>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tbody>
            {% for resource in resources %}
                {% if resource.startingAmount > 0 %}
                    <tr>
                        <td style="background-color: #f5f5f5;">{{ resourceIcon(resource)|raw }} {{ resource.name }}</td>
                        <td>{{ resource.startingAmount }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<h4>How to build every resource</h4>
<p>Not all resources can be created immediately.  Rather, some resources require other resources in order to be built:</p>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tbody>
            {% for resourceType in resourceTypes %}
                <tr>
                    <th colspan="2"><strong>{{ resourceType }} Resources</strong></th>
                </tr>
                {% for resource in resources %}
                    {% if resource.type.name == resourceType and resource.actions[0] is defined %}
                        {% set action = resource.actions[0] %}
                        <tr>
                            <td style="background-color: #f5f5f5;">{{ action.verb }} {{ action.outputQuantity }} {{ resourceIcon(resource)|raw }} {{ resource.name }}</td>
                            <td>
                                <ul>
                                    {% for input in action.inputs %}
                                        {% set message = '' %}
                                        {% if input.inputStrategy == 'static' %}
                                            {% set message = input.inputQuantity ~ " " ~ input.resource.name ~ " " %}
                                            {% if input.requeue %}
                                                {% set message = message ~ " (comes back after " ~ input.queueSize ~ " ticks)" %}
                                            {% else %}
                                                {% set message = message ~ " (lost forever)" %}
                                            {% endif %}
                                        {% elseif input.inputStrategy == 'exponential' %}
                                            {% set message = 'Cost is variable dependent on current amount of ' ~ input.resource.name %}
                                        {% elseif input.inputStrategy == 'requirement' %}
                                            {% set message = 'Requires at least one available ' ~ input.resource.name %}
                                        {% endif %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<p>To best understand the costs of a resource which requires exponential input, please view the following table:</p>
{% include '@Cronkd/Action/partials/exponentialTable.html.twig' %}

<h4>Resource Units</h4>
<p>As resource amounts get larger, the units are abbreviated.</p>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Abbreviation</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #f5f5f5;">k</td>
                <td>thousand</td>
            </tr>
            <tr>
                <td style="background-color: #f5f5f5;">M</td>
                <td>million</td>
            </tr>
            <tr>
                <td style="background-color: #f5f5f5;">T</td>
                <td>trillion</td>
            </tr>
            <tr>
                <td style="background-color: #f5f5f5;">q</td>
                <td>quadrillion</td>
            </tr>
            <tr>
                <td style="background-color: #f5f5f5;">Q</td>
                <td>quintillion</td>
            </tr>
            <tr>
                <td style="background-color: #f5f5f5;">s</td>
                <td>sextillion</td>
            </tr>
            <tr>
                <td style="background-color: #f5f5f5;">S</td>
                <td>septillion</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>Overview</h4>
<p>Lastly, a table that describes all of the characteristics and properties for all resources:</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Net Worth Value</th>
        <th>Attack Power</th>
        <th>Defense Power</th>
        <th>Spy Power</th>
        <th>Can be won by attacking?</th>
    </tr>
    </thead>
    <tbody>
    {% for resource in resources %}
        <tr>
            <td style="background-color: #f5f5f5;">{{ resourceIcon(resource)|raw }} {{ resource.name }}</td>
            <td>{{ resource.type }}</td>
            <td>{{ resource.value }}</td>
            <td>{{ resource.attack }}</td>
            <td>{{ resource.defense }}</td>
            <td>{{ resource.probePower }}</td>
            <td>{{ resource.spoilOfWar ? 'Yes, '~resource.spoilOfWarCapturePercentage~'% awarded to attacker' : 'No' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>