{% extends '::base.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-default" style="margin: 0 auto; max-width: 300px;">
            <div class="panel-body">
                <h2 class="page-header">Login</h2>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post" class="form" >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'Username'|trans }}" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'Password'|trans }}" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-primary" id="_submit" name="_submit" value="{{ 'Login'|trans }}" style="width: 100%;" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'Remember Me'|trans }}
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <span class="text-muted">Don't have an account? <a href="{{ path('fos_user_registration_register') }}">Register &raquo;</a></span>
            </div>
        </div>
    </div>
{% endblock %}