{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-12">
                <h3>Kingdom Map Tile</h3>
                <div class="alert-info">You can move 1 step North, South, East, or West.</div>
                {{ form_start(form, {'attr': {'class': 'form form-horizontal'}}) }}
                <div class="form-group">
                    {{ form_row(form.x, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.y, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}