{% extends '::base.html.twig' %}

{% if world is not defined %}
    {% set world = kingdom.world %}
{% endif %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path("homepage") }}">{{ kingdom.world.name }} - World Tick #{{ kingdom.world.tick }}</a></li>
        <li class="active">[{{ kingdom.netWorth }}] {{ kingdom.name }} Queues</li>
    </ul>

    {% include 'CronkdBundle:World:overview.html.twig' %}

    {% include 'CronkdBundle:Kingdom:overview.html.twig' %}

    {% include 'CronkdBundle:Kingdom:queues.html.twig' %}

{% endblock %}