{% if kingdom is not empty %}
    <nav class="navbar navbar-default hidden-xs" style="margin-top: -20px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}"><i class="fa fa-fort-awesome"></i> {{ kingdom.name }}</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li title="World">
                    <a href="{{ path('world') }}" title="World">
                        <i class="fa fa-globe"></i> <strong>{{ world.name }}</strong>
                    </a>
                </li>
                <li title="World Net Worth">
                    <a href="{{ path('world_show', {'id': world.id}) }}">
                        <i class="fa fa-line-chart"></i>
                        {{ worldState.aggregateNetWorth|filterNumber }}
                    </a>
                </li>
                <li title="Kingdom Count" class="navbar-text"><i class="fa fa-fort-awesome"></i> {{ world.kingdoms|length }}</li>
                <li title="World Time (Tick)" class="navbar-text"><i class="fa fa-clock-o"></i> {{ world.tick }}</li>
                <li title="World Chat">
                    <a href="{{ path('chat') }}">
                        <i class="fa fa-comments"></i>
                        <span class="badge" title="Unread Messages">{{ render(controller('CronkdBundle:Chat:getUnreadMessageCount')) }}</span>
                    </a>
                </li>
                {% if app.environment != 'prod' and is_granted('ROLE_ADMIN') %}
                <li title="Perform Tick">
                    <div class="navbar-form">
                        <div class="form-group">
                            <a class="btn btn-primary" href="{{ path('tick_perform') }}" title="Perform Tick">
                                <i class="fa fa-cogs"></i> Perform Tick
                            </a>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a title="Net Worth" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-line-chart"></i>
                        <span title="Net Worth (available)"> {{ kingdom.liquidity|filterNumber }}</span>
                        / <span title="Net Worth (total)">{{ kingdom.networth|filterNumber }}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('kingdom_show') }}" class="navbar-link"><i class="fa fa-fort-awesome"></i> Kingdom Summary</a></li>
                        <li><a href="{{ path('home') }}" class="navbar-link"><i class="fa fa-home"></i> Resource Build Queues</a></li>
                        <li><a href="" class="navbar-link">Quick Links (coming soon!)</a></li>
                    </ul>
                </li>
                <li class="navbar-text" title="Technology Points">
                    <i class="fa fa-book"></i> {{ kingdom.techPoints|filterNumber }}
                </li>
                <li class="navbar-text" title="Attack (available)"><i class="fa fa-fighter-jet"></i> {{ kingdom.attack|filterNumber }}
                    {# / totalAttack (including unavailable) #}
                    {% if kingdom.attack != kingdomState.modifiedAttackPower  %}
                        <span title="Effective Attack (includes active modifiers)">({{ kingdomState.modifiedAttackPower|filterNumber }})</span>
                    {% endif %}
                </li>
                <li class="navbar-text" title="Defense (available)"><i class="fa fa-shield"></i> {{ kingdom.defense|filterNumber }}
                    {# / totalDefense (including unavailable) #}
                    {% if kingdom.defense != kingdomState.modifiedDefensePower  %}
                        <span title="Effective Defense (includes active modifiers)">({{ kingdomState.modifiedDefensePower|filterNumber }})</span>
                    {% endif %}
                </li>
                <li class="navbar-text" title="PvP"><i class="fa fa-trophy"></i>
                    <span title="ELO (PvP)">{{ kingdom.elo }}</span>
                    <span title="Wins - Losses (PvP)">({{ kingdomState.winLossRecord }})</span>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}