<div class="panel panel-default clearfix" style="line-spacing:2px;">
    <div class="pull-left" style="font-size: 120px;"><i class="fa fa-fort-awesome fa-fw"></i></div>
    <div class="pull-left">
        <ul style="list-style: none;">
            <li title="Kingdom Name" style="font-size: 36px;">
                <strong>{{ kingdom.name }}</strong>
            </li>
            <li>
                <span title="Net Worth">
                    <i class="fa fa-line-chart"></i> {{ kingdom.networth|filterNumber }}
                </span>&nbsp;
                <span title="Liquidity">
                    <i class="fa fa-tint"></i> {{ kingdom.liquidity|filterNumber }}
                </span>
            </li>
            <li>
                <span title="ELO">
                    <i class="fa fa-trophy"></i> {{ kingdom.elo }} ({{ kingdomState.winLossRecord }})
                </span>&nbsp;
                <span title="Attack and Defense Power">
                    <i class="fa fa-shield"></i> {{ kingdomState.modifiedAttackPower|filterNumber }}/{{ kingdomState.modifiedDefensePower|filterNumber }}
                </span>
            </li>
            <li>
                {% if kingdomState.notificationCount %}
                    <a href="{{ path('notification_index', {'id': kingdom.id}) }}"><span class="label label-danger">{{ kingdomState.notificationCount }}</span></a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>