{% set resourceTypes = ['Population', 'Material', 'Building'] %}

{% set minTick = world.tick + 1 %}
{% set maxTick = world.tick + 8 %}

{% for resourceQueues in kingdomState.currentQueues %}
    {% for queue in resourceQueues.queues %}
        {% set maxTick = max(maxTick, queue.tick) %}
    {% endfor %}
{% endfor %}

{% for resourceType in resourceTypes %}
    <table class="table table-bordered">
        <thead>
        <tr style="background-color: #f5f5f5;">
            <th>Current {{ resourceType }}</th>
            <th colspan="{{ maxTick - minTick + 1 }}">Incoming {{ resourceType }}</th>
        </tr>
        <tr style="background-color: #f5f5f5;">
            <th>
                <i class="fa fa-clock-o fa-fw"></i> Hour
            </th>
            {% for tick in range(minTick, maxTick) %}
                <th>+{{ loop.index }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for resourceQueues in kingdomState.currentQueues %}
            {% if resourceQueues.kingdomResource.resource.type.name == resourceType %}
            <tr>
                <td style="white-space: nowrap; background-color: #f5f5f5;">
                    {% set resourceName = resourceQueues.kingdomResource.resource.name %}
                    {% if resourceName == 'Civilian' %}
                        <i class="fa fa-users fa-fw"></i>
                    {% elseif resourceName == 'Wood House' %}
                        <i class="fa fa-home fa-fw"></i>
                    {% elseif resourceName == 'Wood' %}
                        <i class="fa fa-cubes fa-fw"></i>
                    {% elseif resourceName == 'Soldier' %}
                        <i class="fa fa-fighter-jet fa-fw"></i>
                    {% elseif resourceName == 'Guard' %}
                        <i class="fa fa-shield fa-fw"></i>
                    {% elseif resourceName == 'Hacker' %}
                        <i class="fa fa-user-secret fa-fw"></i>
                    {% elseif resourceName == 'Tree' %}
                        <i class="fa fa-tree fa-fw"></i>
                    {% elseif resourceName == 'Wooden Wall' %}
                        <i class="fa fa-shield fa-fw"></i>
                    {% endif %}
                    <strong>{{ resourceQueues.kingdomResource.quantity|number_format }}</strong>
                    {{ resourceName }}
                    {% if resourceQueues.kingdomResource.resource.canBeProduced %}
                        <a href="{{ path('action_perform', {'resourceName': resourceName}) }}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </td>
                {% for tick in range(minTick, maxTick) %}
                    {% set quantity = 0 %}
                    {% for queue in resourceQueues.queues %}
                        {% if tick == queue.tick %}
                            {% set quantity = quantity + queue.quantity %}
                        {% endif %}
                    {% endfor %}
                    <td>{{ quantity != 0 ? quantity|number_format : '' }}</td>
                {% endfor %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr style="background-color: #f5f5f5;">
            <th>
                <i class="fa fa-clock-o fa-fw"></i> Hour
            </th>
            {% for tick in range(minTick, maxTick) %}
                <th>+{{ loop.index }}</th>
            {% endfor %}
        </tr>
        </tfoot>
    </table>
    <br />
{% endfor %}