{% set minTick = world.tick + 1 %}
{% set maxTick = world.tick + 8 %}

{% for resourceQueues in kingdomState.currentQueues %}
    {% for queue in resourceQueues.queues %}
        {% set maxTick = max(maxTick, queue.tick) %}
    {% endfor %}
{% endfor %}

{% for resourceType in resourceTypes %}
    <table class="table table-bordered">
        <thead>
        <tr style="background-color: #f5f5f5;">
            <th>Current {{ resourceType.name }}</th>
            <th colspan="{{ maxTick - minTick + 1 }}">Incoming {{ resourceType.name }}</th>
        </tr>
        <tr style="background-color: #f5f5f5;">
            <th>
                <i class="fa fa-clock-o fa-fw"></i> Hour
            </th>
            {% for tick in range(minTick, maxTick) %}
                <th>+{{ loop.index }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for resourceQueues in kingdomState.currentQueues %}
            {% if resourceQueues.kingdomResource.resource.type.name == resourceType.name %}
                {% set resource = resourceQueues.kingdomResource.resource %}
                {% if kingdomState.shouldDisplayResourceInQueues(resource) %}
            <tr>
                <td style="white-space: nowrap; background-color: #f5f5f5;">
                    {{ resourceIcon(resource)|raw }}
                    <strong>{{ resourceQueues.kingdomResource.quantity|filterNumber }}</strong>
                    {{ resource.name }}
                    {% if kingdomState.canPerformActionOnResource(resource) %}
                        <a href="{{ path('action_perform', {'resourceName': resource.name}) }}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </td>
                {% for tick in range(minTick, maxTick) %}
                    {% set quantity = 0 %}
                    {% for queue in resourceQueues.queues %}
                        {% if tick == queue.tick %}
                            {% set quantity = quantity + queue.quantity %}
                        {% endif %}
                    {% endfor %}
                    <td>{{ quantity != 0 ? quantity|filterNumber : '' }}</td>
                {% endfor %}
            </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr style="background-color: #f5f5f5;">
            <th>
                <i class="fa fa-clock-o fa-fw"></i> Hour
            </th>
            {% for tick in range(minTick, maxTick) %}
                <th>+{{ loop.index }}</th>
            {% endfor %}
        </tr>
        </tfoot>
    </table>
    <br />
{% endfor %}